ol {
  padding: 0;
  margin: 0;
  padding-bottom: 30px;
}

li {
  list-style-position: inside;
  width: 97.5%;
  padding: 6px;
  box-sizing: border-box;
  margin-left: 10px;
}

li:hover {
  background-color: rgb(138, 138, 247);
}