

.note-text {
  height: 20px;
  width: 340px;
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
  border-width: 0.1cap;
}

footer {
  background-color: rgb(241, 239, 239);
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.note-creator-button {
  display: block;
  margin-bottom: 8px;
  margin-top: 10px;
  color: white;
  background-color: rgb(28, 135, 202);
  border: none;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 6px;

}

.note-creator-button:hover {
  opacity: 0.8;
}

.note-info {
  margin-bottom: auto;
  margin-left: 6px;
  min-height: 1.5em;
  padding: 8px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.edit-button {
  background-color: rgb(128, 128, 128);
}

.save-button {
  background-color: rgb(15, 160, 39);
}

.edit-button,.save-button{
  color: white;
  border: none;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 6px;
  display: inline;
  margin-left: 10px;
}