.note-creator-button,
.note-text {
  margin-left: 10px;
}

.note-text {
  height: 20px;
  width: 340px;
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
  border-width: 0.1cap;
  margin-right: 5px;
}

footer {
  background-color: rgb(241, 239, 239);
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 70px;
  align-items: center;
}

.note-creator-button {
  margin-bottom: 8px;
  margin-top: 10px;
  color: white;
  background-color: rgb(28, 135, 202);
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-size: 12px;
  width: 120px;
  height: 40px;
}

.note-creator-button:hover {
  opacity: 0.8;
}

