ol {
  padding: 0;
  margin: 0;
  padding-bottom: 30px;
  flex: 1;
}


li {
  list-style-position: inside;
  width: 97.5%;
  padding: 6px;
  box-sizing: border-box;
  margin-left: 10px;
}

li:hover {
  background-color: rgb(138, 138, 247);
}

.notes{
  flex: 1;              /* take up remaining vertical space in main */
  overflow-y: auto;     /* enables vertical scroll */
  max-height: 300px;    /* adjust this value as needed */
  padding-right: 5px;
}