.container {
    position: relative;
    /* Essential for containing absolute elements */
    width: 50%;
}

.container img {
    width: 100%;
    /* Make image responsive */
    height: auto;
}

.overlay-title {
    position: absolute;
    top: 20%;
    left: 48%;
    z-index: 10;
}

.close-button{
    position: absolute;
    top: 20%;
    left: 80%;
    z-index: 10;
}

.overlay-text {
    position: absolute;
    top: 50%;
    /* Position vertically */
    left: 50%;
    /* Position horizontally */
    transform: translate(-50%, -50%);
    /* Center the text perfectly */
    color: rgb(0, 0, 0);
    font-size: 24px;
    z-index: 10;
    /* Ensures it stays on top */
}